/* ---------------------------------------------------------------
Header Carousel
--------------------------------------------------------------- */
.your-class {
	height: 300px;
	overflow: hidden;
	@media (min-width: $break-small) {
		height: 600px;
	}
}
.hero-img {
	background-size: cover;
	background-position: center top;
	position: relative;
	width: 100%;
	height: 300px;
	@media (min-width: $break-small) {
		height: 600px;
	}
}
.hero-img:after {
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.your-class .inner {
	position: absolute;
	width: 76%;
	bottom: 0;
	left: 50%;
	margin-left: -38%;
	color: #fff;
	z-index: 100;
	padding-bottom: 100px;
	text-align: center;
}
.your-class .inner h3 {
	color: #fff;
	font-size: 65px;
	line-height: 1.1;
	margin: 0 0 10px;
	xfont-family: $body-font;
	xtext-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.your-class .inner p {
	margin: 0;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.3;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.pulse-panel {
	margin-bottom: 0;
}
.your-class-btn {
	display: inline-block;
	border-radius: 1px;
	background-color: $orange;
	box-shadow: 0 0 2px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.4);
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.15);
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	padding:15px 25px;
	line-height: 1;
	text-decoration: none;
	margin-top: 30px;
	position: relative;
}
.your-class-btn:after {
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.your-class-btn:hover, .your-class-btn:focus {
	color: #fff;
	text-decoration: none;
	background-color: darken( $orange, 10% );
}


/* ---------------------------------------------------------------
Initiatives
--------------------------------------------------------------- */
.home-initiatives {
	background: url(../images/wave.jpg);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 60px 0;
}
.home-initiatives h2 {
	font-size: 35px;
	font-family: $condensed-font;
	margin: 0 0 1.4em;
	text-align: center;
	position: relative;
}
.home-initiatives .init-list {
	list-style: none;
	margin: 30px 0 0;
	padding: 0;
}
.init-list li {
	margin-bottom: 20px;
	margin-right: 10px;
	width: 46%;
	@media (min-width: 400px) {
		margin-right: 10px;
	}
	@media (min-width: $break-small) {
		margin-right: 10px;
		width: 30%;
	}
	@media (min-width: $break-medium) {
		margin-right: 20px;
		width: 211px;
	}
	@media (min-width: $break-large) {
		margin-right: 13px;
		width: 140px;
	}
	@media (min-width: $break-xlarge) {
		margin-right: 20px;
		width: 167px;
	}
}
.init-list li.food {
	@media (min-width: $break-large) {
		margin-right: 0;
		padding-right: 2px;
	}
}
.init-list .init-link {
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	border-top: 4px solid #000;
	border-radius: 2px;
	display: block;
	height: 240px;
	padding: 30px 15px;
	text-align: center;
	text-decoration: none;
	@media (min-width: 400px) {
		height: 260px;
		padding: 30px 25px;
	}
	@media (min-width: $break-small) {
		height: 270px;
	}
	@media (min-width: $break-medium) {
		padding: 30px 40px;
	}
	@media (min-width: $break-large) {
		height: 234px;
		padding: 30px 20px;
	}
}
.init-list .init-link:hover, .init-list .init-link:focus {
	background: #f4f4f4;
}
.energy .init-link{border-color: $energy;}
.recycling .init-link {border-color: $recycling;}
.biomass .init-link {border-color: $biomass;}
.leed .init-link {border-color: $leed;}
.transportation .init-link {border-color: $transportation;}
.food .init-link {border-color: $food;}

.init-imgwrapper {
	padding: 5px;
	border-radius: 50%;
	display: block;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.init-imgwrapper span {
	display: block;
	padding: 15px;
	background-color: #000;
	border-radius: 50%;
	box-shadow: inset 0 0 0 4px rgba(255,255,255,.2);
	@media (min-width: 600px) {
		padding: 25px;
	}
	@media (min-width: $break-large) {
		padding: 15px;
	}
	@media (min-width: $break-xlarge) {
		padding: 25px;
	}
}

.energy .init-imgwrapper span {background-color: $energy;}
.recycling .init-imgwrapper span {background-color: $recycling;}
.biomass .init-imgwrapper span {background-color: $biomass;}
.leed .init-imgwrapper span {background-color: $leed;}
.transportation .init-imgwrapper span {background-color: $transportation;}
.food .init-imgwrapper span {background-color: $food;}

.init-img {
	display: block;
	width: 100%;
}
.init-title {
	font-family: $body-font;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5;
	margin: 20px 0 0;
}



/* ---------------------------------------------------------------
Pulse
--------------------------------------------------------------- */
.pulse {
	padding: 4em 0;
}
.pulse-title {
	font-size: 35px;
	font-family: $condensed-font;
	margin: 0 0 1.4em;
	text-align: center;
	overflow: hidden;
	position: relative;
	&:before, &:after {
		background-color: #ded8cf;
		content: "";
		display: inline-block;
		height: 2px;
		position: relative;
		vertical-align: middle;
		width: 20%;
	}
	&:before {
		right: 0.5em;
		margin-left: -50%;
	}
	&:after {
		left: 0.5em;
		margin-right: -50%;
	}
}
.pulse .pulse-panel {
	list-style: none;
 	margin: 0;
	padding-bottom: 31px;
}

/* Tab Menu Links ---------------------------------------------- */
.pulse-tabs {
	display: table;
	list-style: none;
	margin: 0 auto 20px;
	overflow: hidden;
	text-align: center;
}
.pulse-tabs li {
	display: table-cell;
	position: relative;
}
.pulse-tabs li a {
	color: #8c7e71;
	display: block;
	font-family: $condensed-font;
	font-weight: 600;
	font-size: 16px;
	overflow: hidden;
	letter-spacing: 1px;
	padding: 15px 30px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-ms-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}
.pulse-tabs li a:hover, .pulse-tabs li a:focus {
	color: #564e45;
	outline: none;
	text-decoration: none;
}
.pulse-tabs li.active {
	color: #564e45;
}
.pulse-tabs li:before {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 4px;
	background: #ccc;
	content: '';
}
.pulse-tabs li:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: $link;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translate3d(0,150%,0);
	transform: translate3d(0,150%,0);
}
.pulse-tabs li.active:after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* Tab Content Show/Hide ---------------------------------------------- */
.tab-content > .tab-pane {
  display: block !important;
  height: 0px;
  overflow: hidden;
}
.tab-content > .active {
  display: block !important;
  height: auto;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

/* Prev/Next Arrows-------------------------------------------- */
.pulse .slick-prev,
.pulse .slick-next {
	background: url(../images/tab-prevnext.gif) 0 0 no-repeat;
	bottom: 0;
	top: auto;
	width: 31px;
	height: 31px;
	left: 50%;
	margin-left: -29px;
}
.pulse .slick-next {
	background-position: right top;
	margin-left: 1px;
}

/* hover state */
.pulse .slick-prev:hover,
.pulse .slick-next:hover {
	background-position: left -62px;
}
.pulse .slick-next:hover {
	background-position: right -62px;
}
.pulse .slick-disabled.slick-next:hover {
	background-position: right -31px;
}
.tab-content .slick-list {
	background-color: #fff;
}

/* disabled state */
.pulse .slick-disabled {
	background-position: left -31px;
	cursor: default;
}
.pulse .slick-disabled:hover {
	background-position: left -31px;
	cursor: default;
}
.pulse .slick-disabled.slick-next {
	background-position: right -31px;
}
.pulse .slick-disabled.slick-next:hover {
	background-position: right -31px;
}


/* Tab Content Panels -------------------------------------------- */
.pulse-panel .slick-slide {
	position: relative;
}

/* Photos */
.pulse-panel .panel-photo {
	position: relative;
	& a {
		display: block;
		overflow: hidden;
	}
}
.slick-slider .panel-photo img {
	width: 100%;
}
/* photos for events */
.panel-photo-event {
	display: block;
	height: 200px;
	overflow: hidden;
}
.panel-photo-event img {
	display: block;
	max-width: none;
	max-height: 200px;
}

/* Tagged Icons */
.tagicon {
	position: absolute;
	bottom: 0;
	left: 50%;
	background-color: #000;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-bottom: -20px;
	padding: 7px;
	box-shadow: 0 0 0 5px rgba(0,0,0,.1);
}
.tagicon.leed {background-color: $leed;}
.tagicon.energy {background-color: $energy;}
.tagicon.recycling {background-color: $recycling;}
.tagicon.biomass {background-color: $biomass;}
.tagicon.food {background-color: $food;}
.tagicon.transportation {background-color: $transportation;}


/* Panel Content */
.pulse-panel .panel-content {
	border-left: 1px solid #eee;
	overflow: hidden;
	padding: 25px 15px 45px;
	position: relative;
	@media (min-width: $break-small) {
		min-height: 270px;
	}
}
#news .pulse-panel .panel-content {
	padding: 35px 15px 45px;
}
.slick-slide:first-of-type .pulse-panel .panel-content {
	border-left: none;
}
.pulse-panel .panel-content .panel-title {
	font-size: 19px;
	line-height: 1.2;
	margin: 0 0 10px;
	& a {
		text-decoration: none;
	}
}
.pulse-panel .panel-content p {
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
}

/* Read More Link */
.pulse-panel .read {
	color: #444;
	font-family: $condensed-font;
	display: block;
	text-decoration: none;
	border-bottom: 4px solid $link;
	xwidth: 100px;
	position: absolute;
	left:15px;
	bottom: 15px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}
.pulse-panel .read:hover, .pulse-panel .read:focus {
	border-bottom-color: $orange;
}
.pulse-panel .read.external {
	background: url(../images/external-link.png) no-repeat right 2px;
	padding-right: 17px;
}