.newsentry .entry-title {
	margin: 0.5em 0;
}
.newsentry .entry-date {
	font-size: 14px !important;
}
.newsentry-related ul {
	list-style: none;
	margin: 0;
}
.newsentry .entryphoto {
	@media (min-width: $break-medium) {
		margin-top: -80px;
	}
}