/* ---------------------------------------------------------------
Base styles
--------------------------------------------------------------- */
html {
	font-size: 15px;
	line-height: 1.5;
	@media screen and (min-width: $break-small) {
		font-size: $base-font-size;
		line-height: 1.6;
	}
}
body {
	background: #f2efe9 url(../images/texture.jpg);
	background-attachment: fixed;
	color: #444;
	font-family: $body-font;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
.mobile-hide {
	@media (max-width: $break-medium - 1 ) {
		display: none;
	}
}
.tablet-hide {
	@media (max-width: $break-large - 1 ) {
		display: none;
	}
}
.tablet-show {
	@media (min-width: $break-large) {
		display: none;
	}
}

/* ---------------------------------------------------------------
Division Bar
--------------------------------------------------------------- */
.division-topbar {
	z-index: 30;
}
.division-topbar .wrapper {
	max-width: $break-xlarge;
	@media (min-width: $break-medium) {
		width: $break-medium - 20;
		padding-left: 1em;
		padding-right: 1em;
	}
	@media (min-width: $break-large) {
		width: $break-large - 20;
	}
	@media (min-width: $break-xlarge) {
		width: $break-xlarge - 40;
	}
}
.directory-toggle:after {
	@media only screen and (min-width: 601px) {
		left: 0;
	}
}

/* ---------------------------------------------------------------
Layout
--------------------------------------------------------------- */
.container {
	max-width: $break-xlarge;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1.5em;
	padding-right: 1.5em;
	position: relative;
	/*@media (min-width: $break-small) {
		width: $break-small - 20;
	}*/
	@media (min-width: $break-medium) {
		width: $break-medium - 20;
	}
	@media (min-width: $break-large) {
		width: $break-large - 20;
	}
	@media (min-width: $break-xlarge) {
		width: $break-xlarge - 40;
	}
}
.article {
	margin-top: 30px;
}


/* ---------------------------------------------------------------
Child Page Summary
--------------------------------------------------------------- */
.child-block {
	border-bottom: 1px solid #cfc8b2;
	border-top: 1px solid rgba(255,255,255,.8);
	margin: 0;
	padding: 30px 0 10px;
}
.child-block:first-of-type {
	border-top: 1px solid #cfc8b2;
}
.blocklink {
	display: block;
	overflow: hidden;
	text-decoration: none;
}
.child-block-img {
	display: block;
	float: right;
	margin: 0 0 15px 15px;
	width: 40%;
	@media (min-width: $break-medium) {
		float: left;
		margin: 0 0 20px 0;
	}
}
.withphoto .child-block-content {
	@media (min-width: $break-medium) {
		margin-left: 45%;
		overflow: hidden;
	}
}
.child-block .title {
	margin: 0;
}
.child-block p {
	color: #444;
	@media (min-width: $break-small) {
		font-size: 16px;
	}
}
.child-block .link {
	border-bottom: 4px solid $link;
	color: #36302a;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.05em;
	margin: 0 15px 20px 0;
	padding: 5px 0;
	text-transform: uppercase;
	transition: .15s ease-in-out;
}
.blocklink:hover .link, .blocklink:focus .link {
	border-color: $orange;
}

/* ---------------------------------------------------------------
Interior Large Photo
--------------------------------------------------------------- */
.mainimg-container {
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	@media (min-width: $break-large) {
		height: 600px;
	}
}

/* ---------------------------------------------------------------
Justify
--------------------------------------------------------------- */
.justify {
	font-size: 0.1px;
	list-style: none;
	margin: 1em 0;
	overflow: hidden;
	text-align: justify;
}
.justify:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.justify-item {
	display: inline-block;
	font-size: $base-font-size;
	margin-bottom: 1em;
	text-align: left;
	vertical-align: top;
	width: 100%;
}
.justify-2 .justify-item {
	@media screen and (min-width: $break-small) {
		width: 48%;
	}
}
.justify-3 .justify-item {
	@media screen and (min-width: $break-small) {
		width: 48%;
	}
	@media screen and (min-width: $break-medium) {
		width: 32%;
	}
}
.justify-4 .justify-item {
	@media screen and (min-width: $break-small) {
		width: 48%;
	}
	@media screen and (min-width: $break-medium) {
		width: 24%;
	}
}
.justify .filler {
	height: 0 !important;
	margin: 0 !important;
}


/* ---------------------------------------------------------------
Admin Login form fields
--------------------------------------------------------------- */
#MemberLoginForm_LoginForm fieldset {
	width: 50%;
}
#MemberLoginForm_LoginForm .field .text {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#MemberLoginForm_LoginForm #Remember label.right {
	float: left;
}
#MemberLoginForm_LoginForm .Actions .action {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	background-image: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-decoration: none;

	&:hover {
		background-color: #eee;
		border-color: #adadad;
	}
}