/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #008d9d;
$yellow: #ffce39;
$energy: #c7312f;
$recycling: #93b44f;
$biomass: #d6b826;
$leed: #ffaf0f;
$transportation: #4a9dcf;
$food: #aa924a;
$orange: #fdb142;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 18;
$base-font-size: 18px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "chaparral-pro",sans-serif;
// $heading-font: "proxima-nova-alt-condensed";
$body-font: "proxima-nova",sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 980px;
$break-xlarge: 1200px;