/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #008d9d;
$yellow: #ffce39;
$energy: #f12421;
$recycling: #9bc347;
$biomass: #f1cb0f;
$leed: #ffaf0f;
$transportation: #47a0d6;
$food: #b29f4b;
$orange: #fdb142;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 18;
$base-font-size: 18px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "chaparral-pro",sans-serif;
// $heading-font: "proxima-nova-alt-condensed";
$body-font: "proxima-nova",sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 980px;
$break-xlarge: 1200px;